# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.tfplan

# Editor / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Python / misc (na zapas)
__pycache__/
*.pyc
